annotated-doc==0.0.5
charset-normalizer==3.4.9
colorama==0.4.6
defusedxml==0.7.1
lxml==6.1.1
markdown-it-py==4.2.0
mdurl==0.1.2
numpy==2.5.1
pillow==12.3.0
prompt_toolkit==3.0.53
pygame==2.6.1
Pygments==2.20.0
pypdf==6.14.2
python-docx==1.2.0
questionary==2.1.1
reportlab==5.0.0
rich==15.0.0
shellingham==1.5.4
typer==0.27.1
typing_extensions==4.15.0
wcwidth==0.8.2
